@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  object-fit: cover;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

/* In your CSS file or a <style> block in your HTML */
.body-bg-image {
  z-index: 0;
  background-color: #050214;
  background-image: url('/bgcode.jpg'); /* Adjust the path to your image */
  background-size: 140% 140%; /* Zoomed in, covers the entire element */
  background-repeat: no-repeat; /* No repeating of the background image */
  position: relative; /* Needed for absolute positioning of overlay */
}

*, *::before, *::after {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
/* In your CSS file or a <style> block in your HTML */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
/* In your CSS file or a <style> block in your HTML */
.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    z-index: -3; /* Change z-index to -1 */
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #C10C99;
    background-repeat: no-repeat;
    background-size: 50%, 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#C10C99, #ffffff);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -2; /* Change z-index to 1 */
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 5px;
    background-color: #050214;
  }
}

/* Your existing styles */

.typewriter-text {
  font-size: 2em;
  letter-spacing: 2px;
  font-family: monospace;
  color: white;
  white-space: wrap;
  overflow: hidden;
  position: relative;
}

.typewriter-text::before {
  content: 'Do you need a site for your business? Here I am! I can make any website you need!';
  border-right: 2px solid;
  position: absolute;
  white-space: wrap;
  top: 0;
  right: 0;
  height: 100%;
  animation: typing 4s steps(20), cursor .5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
